# use python 3.11 for mlzero experiments

# for our cluster, specific torch version is necessary, install this first
# pip install torch torchvision torchaudio  --index-url https://download.pytorch.org/whl/cu126


# then install mlzero
# pip install uv && uv pip install git+https://github.com/autogluon/autogluon-assistant.git